# =====================
# Java
# =====================
bin/
target/
out/
*.class

# =====================
# Local database / secrets
# =====================
MiageGPT-Data/

# =====================
# Logs
# =====================
*.log

# =====================
# IDE - IntelliJ IDEA
# =====================
.idea/
*.iml

# =====================
# IDE - VSCode
# =====================
.vscode/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db